.footer{

margin: 100px 170px;
display: flex;
flex-direction: column;
gap: 30px;
}

.footer-top{
  display: flex;
  justify-content: space-between;
}

.footer-top-left p{
  font-size: 24px;
  margin-top: 20px;
  max-width: 400px;

}

.footer-top-right{

  display: flex;
  align-items: center;
  gap: 35px;

}

.footer-email-input{
 
  border: none;
  display: flex;
  gap: 30px;
  padding: 20px 30px;
  border-radius: 50px;
  background: #32323b;
  padding-right: 80px;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  
}

.footer-email-input:hover {
  background: #40404b; /* Slightly lighter background on hover */
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.7); /* Add a soft shadow effect */
  
}

.footer-email-input input{

  outline: none;
  border: none;
  background-color: transparent;
  color: #a0a0a0;
  font-family: 'outfit';
  font-size: 18px;
  color: white;
}


.footer-subscribe{

  font-size: 20px;
  padding: 22px 40px;
  border-radius: 50px;
  background:linear-gradient(264deg, rgb(223, 137, 8) -5.09%, rgb(180, 21, 255) 106.29%);
  cursor: pointer;
  transition:all 0.3s ease; 
}

.footer-subscribe:hover {
  transform: scale(1.1); /* Slightly enlarge the button */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); /* Add a glowing shadow */
}

.footer-subscribe:active {
  transform: scale(0.95); /* Slightly shrink on click */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.7); /* Reduce the shadow */
  background:linear-gradient(264deg, rgb(180, 21, 255) -5.09%, rgb(223, 137, 8) 106.29%);
}


.footer-bottom{

  display: flex;
  justify-content:space-between;
  font-size: 18px;
}


.footer-bottom-right{

  display: flex;
  gap: 50px;
  margin-bottom: 50px;
}


.footer-bottom-right p{

  cursor: pointer;
  transition: all 0.3s;
}

.footer-bottom-right p:hover{

  color: rgb(138, 138, 138);
}


@media(max-width:768px) {

  .footer{
    margin: 50px 70px;
  }

  .footer-top{
    flex-direction: column;
    gap: 50px;

  }

  .footer-bottom{

    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer-bottom p{

    margin-bottom: 20px;
  }
  
}

